.dl-table {
  a {
    @supports (
      (text-decoration-thickness: initial) and (text-underline-offset: initial)
    ) {
      text-underline-offset: 0.8rem;
    }
    @supports not (
      (text-decoration-thickness: initial) and (text-underline-offset: initial)
    ) {
      padding-bottom: 0.45rem;
    }
  }

  .btn,
  .gumroad-button {
    margin: 1rem 0;
  }
}

// for top-menu
.top-menu-wrapper {
  display: inline-block;
}
.top-menu {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
// for top-menu
.top-menu.nav-btn {
  border: none;
  display: inline-flex;
  width: 6rem;
  margin-left: -1px;
}

.nav-btn-bar {
  height: 3rem;
}

// profile avatar image
.content .avatar {
  float: right !important;
  box-sizing: content-box;
  border: 1rem solid var(--body-bg);
  transition: border-color 1s ease;
  margin-top: 5px !important;
  margin-left: 5px !important;
  width: 140px !important;
  height: 140px !important;
}
.author-body-description {
  margin-left: 20px !important;
  margin-top: 20px !important;
}

// 게시물 안에 링크 스타일
.markdown-body > p > a {
  font-weight: bold !important;
  color: rgb(3, 102, 214) !important;
}

.markdown-body > li > p > a {
  font-weight: bold !important;
  color: rgb(3, 102, 214) !important;
}

.markdown-body > blockquote > p > a {
  font-weight: bold !important;
  color: rgb(3, 102, 214) !important;
}

// 링크 밑줄
.content a:not(.btn):not(.no-hover) {
  text-decoration-color: rgba(79, 177, 186, 0.5);
}

// 메뉴
.spread-btn {
  right: 15%;
  position: absolute;
  padding: 0;
  padding-top: 2px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  z-index: 1;
}
.menu-wrapper {
  text-align: left;
  margin-left: 30%;
}
.submenu.menu-wrapper {
  right: 10%;
  position: absolute;
  background-color: rgb(34, 31, 32);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 10rem;
  z-index: 2;
  ul {
    margin: 0;
    padding: 0 1.25rem;
  }
}
.submenu.menu-wrapper.hide {
  display: none;
}

// time-line 목차 리스트
.list-lead {
  margin-bottom: 0 !important;
}
.list-lead::after {
  content: "" !important;
  display: block !important;
  position: relative !important;
  border-radius: 50% !important;
  width: 12px !important;
  height: 12px !important;
  top: -21px !important;
  left: 62px !important;
  // border: 3px solid;

  background-color: lightgrey !important;
  z-index: 1 !important;
}
.list-post li {
  line-height: 3rem !important;
}
.list-post > ul > li:first-child::before,
.list-post > ul > li::after {
  content: "" !important;
  width: 4px !important;
  left: 66px !important;
  display: inline-block !important;
  float: left !important;
  position: relative !important;
  background-color: lightgrey !important;
}
.list-post > ul > li > div {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.list-post > ul > li > div > a {
  margin-left: 1.5rem !important;
  position: relative !important;
}
.list-post > ul > li > div > a::before {
  content: "" !important;
  display: inline-block !important;
  position: relative !important;
  border-radius: 50% !important;
  width: 8px !important;
  height: 8px !important;
  float: left !important;
  top: 1.35rem !important;
  left: 60px !important;
  box-shadow: 0 0 5px 0 grey !important;
  background-color: white !important;
  z-index: 1 !important;

  transition: all 0.5s !important;
}
.list-post > ul > li > div > a:hover::before {
  background-color: lightgrey !important;
  margin-right: 0.3rem !important;
  box-shadow: 0 0 2px 0 grey !important;
}
.list-post > ul > li:first-child::before {
  height: 3rem !important;
  top: -1.5rem !important;
}
.list-post > ul > li:not(:last-child)::after {
  height: 3.3rem !important;
  top: -1.3rem !important;
}
.list-post ul:not(:last-child) > li:last-child::after {
  height: 5.2rem !important;
  top: -1.3rem !important;
}

.list-post .related-posts > li + li {
  margin-top: 0 !important;
}
.list-post li.h6 {
  margin-top: 0 !important;
}
