.dl-table {
  a {
    @supports (
      (text-decoration-thickness: initial) and (text-underline-offset: initial)
    ) {
      text-underline-offset: 0.8rem;
    }
    @supports not (
      (text-decoration-thickness: initial) and (text-underline-offset: initial)
    ) {
      padding-bottom: 0.45rem;
    }
  }

  .btn,
  .gumroad-button {
    margin: 1rem 0;
  }
}

// for top-menu
.top-menu-wrapper {
  display: inline-block;
}
.top-menu {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
// for top-menu
.top-menu.nav-btn {
  border: none;
  display: inline-flex;
  width: 6rem;
  margin-left: -1px;
}

.nav-btn-bar {
  height: 3rem;
}

// profile avatar image
.content .avatar {
  float: right !important;
  box-sizing: content-box;
  border: 1rem solid var(--body-bg);
  transition: border-color 1s ease;
  margin-top: 5px !important;
  margin-left: 5px !important;
  width: 140px !important;
  height: 140px !important;
}
.author-body-description {
  margin-left: 20px !important;
  margin-top: 20px !important;
}
