//common
body {
  background-color: #ece7e3;
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
  font-size: 16px;
  letter-spacing: -0.5px;
}
section,
article,
ul,
li,
p {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
}
li {
  list-style: none;
  overflow: hidden;
}
.skip {
  overflow: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}

//font
$font-Roboto: "Roboto", sans-serif;
$font-NotoSans: "Noto Sans KR", sans-serif;
$font-Merriweather: "Merriweather Sans", sans-serif;
$font-Trochut: "Trochut", cursive;

.wrap {
  margin: 50px auto;
  width: 900px;
  background-color: #fff;
}

//list
.list {
  padding: 60px 50px;
  article {
    margin-bottom: 60px;
  }
  .subTitle {
    position: relative;
    margin-bottom: 30px;
    font-family: $font-Roboto;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0;
    &::after {
      position: absolute;
      top: 40px;
      left: 0;
      content: "";
      display: block;
      clear: both;
      width: 100%;
      height: 1px;
      background-color: #ddd;
    }
    .txt {
      font-family: $font-NotoSans;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -0.7px;
      color: #947253;
    }
  }
  .icon {
    position: relative;
    top: 4px;
    margin-right: 5px;
    font-size: 20px;
    color: #7c4d18;
  }
}

//titleWrap
.titleWrap {
  position: relative;
  padding-left: 50px;
  padding-top: 75px;
  height: 245px;
  box-sizing: border-box;
  background-color: #d1c0a9;
  letter-spacing: 0;
  .name {
    position: relative;
    margin-bottom: 50px;
    font-family: $font-Merriweather;
    font-weight: 500;
    font-size: 2.7em;
    &::after {
      position: absolute;
      top: 77px;
      left: 0;
      content: "";
      display: block;
      clear: both;
      width: 40px;
      height: 3px;
      background-color: #2e2e2e;
    }
  }

  .subTitle {
    font-family: $font-Roboto;
    font-size: 20px;
  }
}
.imgBox {
  position: absolute;
  bottom: -75px;
  right: 75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}

//profile
.profileWrap .listTitle {
  float: left;
  width: 100px;
  font-family: $font-Roboto;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0;

  .icon {
    color: #b9a289;
  }
}

.profileWrap li {
  margin-bottom: 10px;
}

.profileWrap li p,
.profileWrap li div {
  float: left;
  margin-left: 100px;
}
.profileWrap li div li {
  float: left;
  margin-left: 10px;
  margin-bottom: 0;
  &:first-child {
    margin-left: 0;
  }
}
.profileWrap a {
  color: #947253;
}
//listWrap
.listWrap .fll {
  position: relative;
  padding-left: 200px;
}
.listWrap ul li li .icon {
  position: absolute;
  left: 10px;
  top: 8px;
  font-size: 10px;
  color: #5e4d3b;
}
.listWrap .careerList > li {
  margin-bottom: 30px;
}
.careerList .careerListTitle {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.7px;
  margin-bottom: 10px;
}
.careerList .careerListTitle .icon {
  color: #b9a289;
}
.listWrap .listTitle,
.listWrap p {
  float: left;
}
.listWrap .detail {
  margin-left: 60px;
}
.listWrap .date {
  position: absolute;
  top: 0;
  left: 27px;
  letter-spacing: 0;
  color: #888;
}
