//common
body {
  font-family: Arial, sans-serif;
}
input,
button {
  border: none;
  outline: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}

.show {
  height: auto;
  visibility: visible;
  opacity: 1;
}
.hide {
  height: 0;
  visibility: hidden;
  opacity: 0;
}
